<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        {% block top %}<h1>Szablon</h1>{% endblock %}
        {% block content %}<p>Zawartość</p>{% endblock %}
        {% block footer %}<a href="{{ path('showAllUsers') }}">Back to all contacts</a> {% endblock %}
    </body>
</html>
