{% extends "CoderslabBundle:User:base.html.twig" %}

{% block title %}Modify contact:{% endblock %}

{% block top %}{% endblock %}

{% block content %}
    {% embed "CoderslabBundle:User:show_user_by_id.html.twig" %}
        {% block top %}<h1>Modify contact</h1>{% endblock %}
        {% block footer %}{% endblock %}
    {% endembed %}<br>
    <p><b>New data: </b></p>
    <form action="/{{ user.id }}/modify" method="POST">
        Name: <input type="text" name="name"><br>
        Surname: <input type="text" name="surname"><br>
        Description: <input type="text" name="description"><br>
        Address:<br>
        {% embed "CoderslabBundle:User:address.html.twig" %}{% endembed %}
        <input type="submit" value="Modify">
    </form>
{% endblock %}