{% extends "CoderslabBundle:User:base.html.twig" %}

{% block title %}Add new contact:{% endblock %}

{% block top %}<h1>Adding new contact</h1>{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
