{% extends "CoderslabBundle:User:base.html.twig" %}

{% block title %}All contacts!{% endblock %}

{% block top %}<h1>All contacts: </h1>{% endblock %}

{% block body %}

    <a href="{{ path('newUser') }}">Add new contact</a>

    {{ parent() }}

    {% block tableContent %}

    {% endblock %}

{% endblock %}
