{% extends "CoderslabBundle:User:base.html.twig" %}

{% block title %}Kontakt o Id !{% endblock %}

{% block body %}

    <h1>Kontakt o Id </h1>
    {{ parent() }}
    {% block tableContent %}

    {% endblock %}
{% endblock %}
